HTML {
	HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #343227; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; HEIGHT: 100%; BACKGROUND-COLOR: white
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #0545af; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 10px
}
H1 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H2 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H3 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H4 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H5 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H6 {
	FONT-WEIGHT: bold; MARGIN: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 185%; PADDING-BOTTOM: 5px; COLOR: #5b5b5b; PADDING-TOP: 5px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 170%; PADDING-BOTTOM: 3px; COLOR: #5b5b5b; PADDING-TOP: 5px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13pt; PADDING-BOTTOM: 3px; COLOR: #5b5b5b; PADDING-TOP: 5px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 12pt; BACKGROUND: url(../img/mk_hd4.gif) no-repeat 0px 0.8em; PADDING-BOTTOM: 3px; PADDING-TOP: 5px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 130%; PADDING-BOTTOM: 3px; COLOR: #5b5b5b; PADDING-TOP: 5px
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H6 A {
	TEXT-DECORATION: none
}
H6 A:hover {
	TEXT-DECORATION: underline
}
.anone {
	TEXT-DECORATION: none
}
.aunderline {
	TEXT-DECORATION: underline
}
LABEL {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0px; COLOR: #5b5b5b; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
INPUT {
	BORDER-RIGHT: #d0d3bf 1px solid; BORDER-TOP: #d0d3bf 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #d0d3bf 1px solid; BORDER-BOTTOM: #d0d3bf 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma; BACKGROUND-COLOR: #f3f6e3
}
SELECT {
	BORDER-RIGHT: #d0d3bf 1px solid; BORDER-TOP: #d0d3bf 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #d0d3bf 1px solid; BORDER-BOTTOM: #d0d3bf 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma; BACKGROUND-COLOR: #f3f6e3
}
TEXTAREA {
	BORDER-RIGHT: #d0d3bf 1px solid; BORDER-TOP: #d0d3bf 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #d0d3bf 1px solid; BORDER-BOTTOM: #d0d3bf 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma; BACKGROUND-COLOR: #f3f6e3
}
ADDRESS {
	PADDING-LEFT: 10px; COLOR: #7b7b7b; FONT-STYLE: normal
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../img/mk_green.gif); PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 28px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
HR {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #e3e7ce 1px solid; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
.right {
	TEXT-ALIGN: right
}
.center {
	TEXT-ALIGN: center
}
.float_right {
	FLOAT: right! important
}
.inf_more {
	DISPLAY: inline; PADDING-LEFT: 8px; FONT-SIZE: 8pt; BACKGROUND: url(../img/mk_green.gif) no-repeat left center; FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif
}
.inf_more A {
	COLOR: #87a700
}
.big {
	FONT-SIZE: 9pt
}
.case-study-img {
	TEXT-ALIGN: center
}
.case-study-img IMG {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid
}
.border_top {
	BORDER-TOP: #d3d3d3 1px solid
}
.site_map DD {
	MARGIN: 10px 0px 0px 20px
}
.site_map DL {
	MARGIN: 10px 0px 0px
}
.site_map UL LI {
	COLOR: #5b5b5b
}
.typical_requests {
	BORDER-RIGHT: #e3e7ce 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e3e7ce 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e3e7ce 1px solid; WIDTH: 625px; PADDING-TOP: 0px; BORDER-BOTTOM: #e3e7ce 1px solid; BACKGROUND-COLOR: #f7fbe0
}
.typical_requests H6 A {
	TEXT-DECORATION: underline
}
.typical_requests H6 A:visited {
	TEXT-DECORATION: underline
}
.typical_requests H6 A:hover {
	TEXT-DECORATION: none
}
.typical_requests .in {
	PADDING-RIGHT: 15px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 17px
}
.typical_requests .cols {
	FONT-SIZE: 7.5pt; FLOAT: left; WIDTH: 158px
}
.typical_requests .padding {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mandatory {
	COLOR: red
}
.fld-text {
	WIDTH: 242px
}
.fld-text-search {
	WIDTH: 450px
}
.fld-textarea {
	WIDTH: 425px; HEIGHT: 100px
}
.btn-submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../img/bg_button4.gif) #ffa000 no-repeat left top; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; WIDTH: 160px; CURSOR: pointer; COLOR: white; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 36px; BORDER-BOTTOM-STYLE: none
}
.btn-submit-search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../img/bg_button.gif) #ffa000 no-repeat left top; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; WIDTH: 113px; CURSOR: pointer; COLOR: white; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 36px; BORDER-BOTTOM-STYLE: none
}
#main {
	Z-INDEX: 1; BACKGROUND: url(../img/bg_main.gif) repeat-y left top; MARGIN: 0px auto; WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
HTML > BODY #main {
	MIN-HEIGHT: 100%; HEIGHT: auto
}
.wrapper {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header {
	BACKGROUND: url(../img/bg_header.gif) repeat-x left top; FLOAT: left; WIDTH: 100%; HEIGHT: 110px
}
#header .left_cl {
	FLOAT: left; WIDTH: 166px
}
#header .middle_cl {
	FLOAT: left; WIDTH: 508px
}
#header .right_cl {
	BACKGROUND: url(../img/bg_top_nav.gif) repeat-x left top; FLOAT: left
}
#header .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 43px
}
#header .top_nav {
	PADDING-TOP: 24px; TEXT-ALIGN: center
}
#header .top_nav A {
	PADDING-RIGHT: 8px; BACKGROUND: url(../img/bg_sm_top_nav.gif) no-repeat 100% 0.6em; COLOR: black
}
#header .top_nav A.n {
	PADDING-RIGHT: 0px; BACKGROUND-IMAGE: none
}
#header .top_nav SPAN {
	MARGIN: 0px 5px
}
#mm_container {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_main_menu.gif) #303030 repeat-x left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 674px; PADDING-TOP: 0px; HEIGHT: 31px
}
UL.main_menu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; HEIGHT: 31px
}
UL.main_menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../img/sep_mm.gif) no-repeat right center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: white; PADDING-TOP: 0px; HEIGHT: 31px
}
UL.main_menu LI.act {
	BACKGROUND: url(../img/bg_main_menu_act.gif) #7b9d00 repeat-x left top
}
UL.main_menu LI A:hover {
	
}
UL.main_menu LI.act A SPAN {
	BORDER-RIGHT: #a5c701 1px solid; BORDER-TOP: #a5c701 1px solid; BORDER-LEFT: #a5c701 1px solid; BORDER-BOTTOM: #a5c701 1px solid
}
UL.main_menu LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.main_menu LI.last A SPAN {
	PADDING-RIGHT: 13px
}
UL.main_menu LI A {
	DISPLAY: block; FLOAT: left; COLOR: white; POSITION: relative; TEXT-DECORATION: none
}
UL.main_menu LI A:hover {
	BACKGROUND: url(../img/bg_main_menu_hover.gif) repeat-x left bottom
}
UL.main_menu LI.act A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.main_menu LI A SPAN {
	BORDER-RIGHT: #595959 1px; PADDING-RIGHT: 15px; BORDER-TOP: #595959 1px solid; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 1px 0px; BORDER-LEFT: #595959 1px; CURSOR: pointer; PADDING-TOP: 6px; BORDER-BOTTOM: #595959 1px solid
}
UL.main_menu LI A:hover SPAN {
	BACKGROUND: url(../img/sep_mm.gif) no-repeat right center
}
UL.main_menu LI.act A:hover SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#sm_container2 {
	BACKGROUND: url(../img/bg_sm_top.gif) #b9db01 repeat-x left top; FLOAT: left; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#sm_container2 .padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: url(../img/bg_sm_bottom.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 19px
}
#sm_container2 .in_top {
	CLEAR: both; BACKGROUND: url(../img/bg_sm_in_top.gif) no-repeat left top; HEIGHT: 33px
}
#sm_container2 .top_page {
	PADDING-RIGHT: 10px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 10px
}
#sm_container2 .top_page A {
	COLOR: white; TEXT-DECORATION: none
}
#sm_container2 .top_page A:visited {
	COLOR: white; TEXT-DECORATION: none
}
#sm_container2 .in_main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_sm_in_lines.gif) #f5f5f5 repeat-x left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 236px; PADDING-TOP: 0px
}
#sm_container2 .lines {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: url(../img/bg_sm_in_main.gif) repeat-y left bottom; FLOAT: left; PADDING-BOTTOM: 0px! important; MARGIN: 0px; WIDTH: 236px; PADDING-TOP: 0px! important
}
#sm_container2 .in_bottom {
	CLEAR: both; BACKGROUND: url(../img/bg_sm_in_bottom.gif) no-repeat left bottom; HEIGHT: 17px
}
#sm_container2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 20px; COLOR: #7b7b7b; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sm_container2 UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#sm_container2 UL LI.act {
	BACKGROUND: url(../img/bg_sm_act.gif) no-repeat left center
}
#sm_container2 A {
	COLOR: #0545af
}
#sm_container {
	CLEAR: both; PADDING-LEFT: 166px; BACKGROUND: url(../img/bg_sm_container.gif) repeat-x left top; FLOAT: left; MARGIN: 1px 0px 0px; TEXT-ALIGN: right
}
UL.sub_menu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; BACKGROUND: url(../img/bg_sub_menu.gif) repeat-x left top; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 508px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
UL.sub_menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../img/sep_sm.gif) no-repeat right center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px; HEIGHT: 30px
}
UL.sub_menu LI.act {
	BACKGROUND-COLOR: #789a00
}
UL.sub_menu LI.act A SPAN {
	BORDER-RIGHT: #d8f744 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d8f744 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8f744 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d8f744 1px solid
}
UL.sub_menu LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.sub_menu LI.sep_none {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.sub_menu LI A {
	DISPLAY: block; FLOAT: left; COLOR: white; POSITION: relative; TEXT-DECORATION: none
}
UL.sub_menu LI A SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 1px 0px; CURSOR: pointer; PADDING-TOP: 6px
}
#informers_container {
	MARGIN-TOP: 1px; BACKGROUND: url(../img/bg_infs_line.gif) #badc01 repeat-y right top; FLOAT: left; WIDTH: 674px; BORDER-BOTTOM: #badc01 2px solid
}
#informers_container .content {
	FLOAT: left; WIDTH: 100%
}
#informers_container .padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 166px; FLOAT: left; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
#informers_container .dl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#informers_container .banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px; HEIGHT: 127px
}
#body_container1 {
	BACKGROUND: url(../img/bg_informers.gif) repeat-x left bottom; FLOAT: left; WIDTH: 100%
}
#body_container1 .white_line {
	BACKGROUND: url(../img/bg_white_line.gif) repeat-x left top; FLOAT: left; WIDTH: 100%
}
#body_container1 .left_cl {
	FLOAT: left; WIDTH: 674px
}
#body_container1 .right_cl {
	BACKGROUND: url(../img/bg_gr_line.gif) repeat-y left top; FLOAT: left; HEIGHT: 100%
}
#body_container1 .bc1_wrapper {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
#body_container2 {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#body_container2 .left_cl {
	BACKGROUND: url(../img/bg_main_content.gif) repeat-x left top; FLOAT: left; WIDTH: 674px
}
#body_container2 .left_cl .content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#body_container2 .right_cl {
	MARGIN-TOP: 1px; FLOAT: left
}
#body_container2 .right_cl .content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../img/bg_right_cl.gif) #f0f4da repeat-x left top; PADDING-BOTTOM: 88px; MARGIN-LEFT: 1px; PADDING-TOP: 10px
}
#body_container3 {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#body_container3 .left_cl {
	BACKGROUND: url(../img/bg_main_content.gif) repeat-x left top; FLOAT: left; WIDTH: 674px
}
#body_container3 .left_cl .content {
	PADDING-RIGHT: 15px; PADDING-LEFT: 166px; FLOAT: left; PADDING-BOTTOM: 68px; PADDING-TOP: 15px
}
#body_container2 .left_cl .content .date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -5px 0px 0px; COLOR: #7b7b7b; PADDING-TOP: 0px
}
#body_container3 .right_cl {
	FLOAT: left
}
#body_container3 .right_cl .content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../img/bg_right_cl.gif) #f0f4da repeat-x left top; PADDING-BOTTOM: 88px; MARGIN: 0px 0px 0px 1px; PADDING-TOP: 8px
}
#body_container3 IMG {
	MARGIN: 0px 5px
}
#body_container4 {
	FLOAT: left; WIDTH: 100%; BACKGROUND-COLOR: #badc01
}
#body_container4 .white_line {
	BACKGROUND: url(../img/bg_white_line.gif) repeat-x left top; FLOAT: left; WIDTH: 100%
}
#body_container4 .left_cl {
	FLOAT: left; WIDTH: 674px
}
#body_container4 .right_cl {
	FLOAT: left
}
H2.informer_hd {
	PADDING-LEFT: 16px
}
H2.informer_hd_add {
	CLEAR: both; PADDING-RIGHT: 0px! important; PADDING-LEFT: 19px! important; PADDING-BOTTOM: 4px! important; PADDING-TOP: 10px! important; BACKGROUND-COLOR: white
}
.informer_block {
	CLEAR: both; COLOR: #7b7b7b; BACKGROUND-COLOR: white
}
.informer_block .left_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_line.gif) repeat-y left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.informer_block .left_b .right_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_line.gif) repeat-y right 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.informer_block .left_b .right_b .top {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_tb.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .top .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_tl.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .top .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_tr.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_bb.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .bottom .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_bl.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .bottom .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_inf_br.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.informer_block .left_b .right_b .informer_content {
	PADDING-RIGHT: 18px; PADDING-LEFT: 16px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.informer_block ADDRESS {
	PADDING-LEFT: 0px
}
.informer_block H3 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
.informer_block P.date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.informer_block P.txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.informer_block .right {
	PADDING-TOP: 5px
}
.informer_block_projects H3 {
	FONT-SIZE: 12pt! important; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica
}
.informer_block_projects H3 SPAN {
	COLOR: #7b7b7b
}
.logo1_block {
	CLEAR: both; BACKGROUND: url(../img/bg_logo1_main.gif) #b4db28 repeat-x left bottom; WIDTH: 169px
}
.logo1_block .left_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_line1.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo1_block .left_b .right_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_line2.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo1_block .left_b .right_b .top {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_tb.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.logo1_block .left_b .right_b .top .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_tl.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.logo1_block .left_b .right_b .top .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_tr.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
.logo1_block .left_b .right_b .bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_bb.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 5px
}
.logo1_block .left_b .right_b .bottom .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_bl.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 5px
}
.logo1_block .left_b .right_b .bottom .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_br.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 5px
}
.logo1_block .left_b .right_b .informer_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 33px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px
}
.logo1_blik {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo1_blik.gif) repeat-x left bottom; FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 0px; WIDTH: 99px; PADDING-TOP: 0px
}
.logo1_blik IMG {
	MARGIN: 0px
}
.case-study_block {
	CLEAR: both; BACKGROUND: url(../img/bg_cs_main.gif) repeat-x left bottom; BORDER-LEFT: #fff 1px solid
}
.case-study_block .left_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_line1.gif) repeat-y left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.case-study_block .left_b .right_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_line2.gif) repeat-y right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.case-study_block .left_b .right_b .top {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tb.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .top .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tl.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .top .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tr.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_bb.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .bottom .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_bl.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .bottom .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_br.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.case-study_block .left_b .right_b .informer_content {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.case-study-image-container {
	FLOAT: right; MARGIN: 0px 0px 5px 10px; WIDTH: 170px; TEXT-ALIGN: center
}
.case-study-image-container A {
	FONT-FAMILY: Arial, Tahoma
}
.document_block {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_main.gif) repeat-x left bottom; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px
}
.document_block .left_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_line1.gif) repeat-y left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.document_block .left_b .right_b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_line2.gif) repeat-y right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.document_block .left_b .right_b .top {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tb.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .top .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tl.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .top .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_tr.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_bb.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .bottom .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_bl.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .bottom .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_cs_br.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.document_block .left_b .right_b .informer_content {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.document-image-container {
	MARGIN: 0px 0px 5px 10px; TEXT-ALIGN: center
}
.document-image-container A {
	FONT-FAMILY: Arial, Tahoma
}
.document-image-container .document_block {
	WIDTH: 162px
}
.banner_block {
	FONT-SIZE: 7.5pt; BACKGROUND: url(../img/bg_ban_main.gif) #a1c301 repeat-x left bottom; COLOR: white; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
.banner_block .left_b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_line.gif) repeat-y left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block .left_b .right_b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_line.gif) repeat-y right 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block .left_b .right_b .top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_tb.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 7px
}
.banner_block .left_b .right_b .top .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_tl.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 7px
}
.banner_block .left_b .right_b .top .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_tr.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 7px
}
.banner_block .left_b .right_b .bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_bb.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 8px
}
.banner_block .left_b .right_b .bottom .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_bl.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 8px
}
.banner_block .left_b .right_b .bottom .inner .bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_ban_br.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 8px
}
.banner_block .left_b .right_b .informer_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.banner_block H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block A {
	COLOR: white
}
.banner_block P {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 5px! important; PADDING-TOP: 4px! important
}
.banner_block .pdn {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/mk_white.gif) no-repeat left center
}
.banner_block DL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block DD.l {
	WIDTH: 80px
}
.banner_block DD.l DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_logo_blik_home.gif) repeat-x left bottom; FLOAT: left; PADDING-BOTTOM: 31px; MARGIN: 0px; WIDTH: 99px; PADDING-TOP: 0px
}
.banner_block DD.l DIV IMG {
	MARGIN: 0px
}
.banner_block DD.r {
	WIDTH: 100px; TEXT-ALIGN: left
}
.about {
	FLOAT: left; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
.about .hd {
	CLEAR: both; BACKGROUND: url(../img/bg_hd1.gif) #e0e9b4 no-repeat right top; HEIGHT: 31px
}
.about .hd H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #3d4c11; PADDING-TOP: 5px
}
.about .hd H1 A {
	COLOR: #3d4c11; TEXT-DECORATION: none
}
.about .hd H1 A:visited {
	COLOR: #3d4c11; TEXT-DECORATION: none
}
.about .content {
	BORDER-TOP: #b1dd00 1px solid; BACKGROUND: url(../img/bg_about.gif) #a1c301 repeat-y right top; FLOAT: left; COLOR: white; FONT-FAMILY: Arial, Tahoma
}
.about .content .padding {
	PADDING-RIGHT: 15px; PADDING-LEFT: 24px; PADDING-BOTTOM: 35px; MARGIN: 0px; PADDING-TOP: 15px
}
.about .more {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; RIGHT: 0px; BACKGROUND: url(../img/bg_about_more.gif) #a1c301 repeat-x left top; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; HEIGHT: 30px
}
.about .more LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: url(../img/bg_gr_line.gif) repeat-y left top; FLOAT: left; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; HEIGHT: 30px
}
.about .more SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 33px; BACKGROUND: url(../img/mk_about_more.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
.about .more SPAN.div {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px 6px; PADDING-TOP: 0px
}
.about .more LI A {
	FONT-WEIGHT: bold; COLOR: white
}
.nav {
	COLOR: white
}
.nav .hd {
	CLEAR: both; BACKGROUND: url(../img/bg_hd1.gif) #e0e9b4 no-repeat right top; HEIGHT: 31px
}
.nav .content {
	MARGIN-TOP: 2px; BACKGROUND: url(../img/bg_about_more.gif) #779900 repeat-x left top
}
.nav .content DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/bg_gr_line.gif) repeat-y left top; PADDING-BOTTOM: 9px; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.nav UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.nav UL LI {
	DISPLAY: inline; MARGIN: 0px; PADDING-TOP: 7px
}
.nav UL LI SPAN {
	MARGIN: 0px 5px
}
.nav UL LI A {
	FONT-WEIGHT: bold; COLOR: white
}
.nav_arrow {
	FONT-SIZE: 10pt
}
UL.breadcrumbs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #5b5b5b; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.breadcrumbs LI {
	DISPLAY: inline
}
UL.breadcrumbs LI.sep {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sep_bottom {
	CLEAR: both; FLOAT: left; WIDTH: 100%; HEIGHT: 14px; BACKGROUND-COLOR: white
}
#footer {
	Z-INDEX: 2; LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 78px; BACKGROUND-COLOR: transparent
}
#footer .ft_container {
	BACKGROUND: url(../img/bg_footer_border.gif) #f0f7c7 repeat-x left top; FLOAT: left; WIDTH: 100%; HEIGHT: 64px
}
#footer .left_cl {
	BACKGROUND: url(../img/bg_footer_border2.gif) #fafceb repeat-x left top; FLOAT: left; WIDTH: 166px; HEIGHT: 64px
}
#footer .middle_cl {
	FLOAT: left; HEIGHT: 64px
}
#footer .copy {
	BACKGROUND: url(../img/bg_copy.gif) repeat-y left top; FLOAT: left; COLOR: #7b7b7b; HEIGHT: 64px
}
#footer .copy .padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 22px
}
#footer .copy P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px
}
.tip_blob_width {
	DISPLAY: none; BACKGROUND: url(../img/x.gif); WIDTH: 249px
}
.blob {
	FONT-SIZE: 7.5pt; COLOR: #797977! important
}
.tip_blob {
	WIDTH: 145px
}
.tip_map_width {
	DISPLAY: none; Z-INDEX: 9999; BACKGROUND: url(../img/x.gif); WIDTH: 500px
}
.tip_map_pos {
	RIGHT: 20px; LEFT: auto; TOP: 50px
}
.tip_map_pos .tip_block .top {
	TOP: 28px! important
}
.tip_map_pos .inner1 {
	PADDING-TOP: 56px! important
}
.tip_map {
	WIDTH: 445px! important
}
.tip_sitemap_point {
	RIGHT: 28%! important; LEFT: auto! important
}
.tip_login_width {
	DISPLAY: none; BACKGROUND: url(../img/x.gif); WIDTH: 277px
}
.tip_login_pos {
	LEFT: 700px; TOP: 400px
}
.tip_login {
	WIDTH: 222px! important
}
.tip_login_pos .tip_block .top {
	TOP: 28px! important
}
.tip_login_pos .inner1 {
	PADDING-TOP: 56px! important
}
.tip_login_point {
	RIGHT: 40px! important; LEFT: auto! important
}
.tip {
	Z-INDEX: 2; LEFT: 0px; POSITION: absolute; TOP: 0px
}
.tip H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 10pt; PADDING-TOP: 0px
}
.tip H2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.tip H2 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.tip H2 A:hover {
	COLOR: #0545af; TEXT-DECORATION: underline
}
.tip .tip_block {
	COLOR: #4d4d4e; POSITION: relative; BACKGROUND-COLOR: transparent
}
.tip .tip_block .point {
	Z-INDEX: 4; BACKGROUND: url(../img/tips_point.png) left top; LEFT: 25px; WIDTH: 32px; POSITION: absolute; TOP: 0px; HEIGHT: 30px
}
.tip .tip_block .top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 3; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 28px
}
.tip .tip_block .top .tips_tb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/tips_tb.png) repeat-x left top; LEFT: 26px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 195px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 28px
}
.tip .tip_block .top .tips_tl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/tips_tl.png) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 28px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 28px
}
.tip .tip_block .top .tips_tr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; BACKGROUND: url(../img/tips_tr.png) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 29px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 28px
}
.tip .tip_block .bottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 3; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 30px
}
.tip .tip_block .bottom .tips_bb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/tips_bb.png) repeat-x left bottom; LEFT: 26px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 195px; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 30px
}
.tip .tip_block .bottom .tips_bl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/tips_bl.png) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 28px; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 30px
}
.tip .tip_block .bottom .tips_br {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; BACKGROUND: url(../img/tips_br.png) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 29px; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 30px
}
.tip .tip_block .inner1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; MARGIN: 0px; PADDING-TOP: 26px
}
.tip .tip_block .inner2 {
	BACKGROUND: url(../img/tips_rb.png) repeat-y right top
}
HTML > BODY .tip .tip_block .inner2 {
	WIDTH: 250px
}
HTML > BODY .tip_map_width .tip_block .inner2 {
	WIDTH: 501px
}
HTML > BODY .tip_login_width .tip_block .inner2 {
	WIDTH: 278px
}
.tip .tip_block .inner3 {
	BACKGROUND: url(../img/tips_lb.png) #f7fbe0 repeat-y left top; MARGIN-RIGHT: 2px
}
.tip .tip_block .header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; Z-INDEX: 5; LEFT: 18px; MARGIN-BOTTOM: -15px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 35px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif; POSITION: relative; TOP: -12px
}
.tip .tip_block .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 5; LEFT: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px 35px 0px 0px; BOTTOM: -10px; PADDING-TOP: 0px; POSITION: relative
}
.tip .tip_block .top_align {
	POSITION: relative; TOP: -7px
}
.tip .tip_block .bottom_align {
	BOTTOM: -7px; POSITION: relative
}
.tip .tip_block .txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -10px; PADDING-TOP: 4px
}
.tip .tip_block FORM DIV {
	MARGIN-TOP: 5px
}
.tip .tip_block FORM H6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px 100px 0px 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica
}
.tip .tip_block LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.tip .tip_block INPUT {
	FONT-SIZE: 8pt
}
.tip .tip_block .fld-text {
	BORDER-RIGHT: #d0d3bf 1px solid; BORDER-TOP: #d0d3bf 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 100%; BORDER-LEFT: #d0d3bf 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d0d3bf 1px solid; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: white
}
.tip .tip_block .btn-submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../img/bg_button2.gif) #81d300 no-repeat left top; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 60px; COLOR: white; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; BORDER-BOTTOM-STYLE: none
}
.highlight {
	BACKGROUND: #ffffc0
}
#benefits {
	MARGIN-TOP: 18px; FONT-SIZE: 7.5pt; Z-INDEX: 2; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 500px; LINE-HEIGHT: 1.2em; POSITION: relative
}
#benefits A {
	COLOR: #000000; TEXT-DECORATION: none
}
#benefits A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#benefits DIV {
	Z-INDEX: 10; CURSOR: pointer; POSITION: absolute
}
#benefits H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
#benefits P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; COLOR: #5b5b5b; LINE-HEIGHT: 1em; PADDING-TOP: 4px
}
#benefits STRONG {
	FONT-SIZE: 10pt; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma
}
#text1 {
	RIGHT: 30px; WIDTH: 200px; TOP: -5px
}
#text2 {
	RIGHT: 20px; WIDTH: 130px; TOP: 80px
}
#text3 {
	RIGHT: 10px; WIDTH: 170px; TOP: 200px
}
#text4 {
	LEFT: 25px; WIDTH: 145px; TOP: 200px
}
#text5 {
	LEFT: 0px; WIDTH: 115px; TOP: 60px
}
#text5 P {
	WIDTH: 113px
}
.vvvv {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; RIGHT: 0px! important; LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
* HTML .tip .tip_block .inner1 {
	
}
* HTML .tip .tip_block .top {
	MARGIN-LEFT: -125px! important
}
* HTML .tip .tip_block .bottom {
	MARGIN-LEFT: -125px! important
}
.cha1 {
	LEFT: -140px! important
}
.tip .tip_block .top {
	LEFT: 0px
}
.tip .tip_block .bottom {
	LEFT: 0px
}
#cmap {
	DISPLAY: block; Z-INDEX: 1000; BACKGROUND: url(../img/map_benefits.gif) no-repeat center center; MARGIN-LEFT: 95px; OVERFLOW: hidden; WIDTH: 251px; POSITION: relative; HEIGHT: 236px
}
#cmap A {
	TEXT-DECORATION: none
}
#cmap1 {
	DISPLAY: block; Z-INDEX: 1001; LEFT: 90px; WIDTH: 62px; POSITION: absolute; TOP: 0px; HEIGHT: 62px
}
#cmap2 {
	DISPLAY: block; Z-INDEX: 1002; RIGHT: 0px; WIDTH: 62px; POSITION: absolute; TOP: 70px; HEIGHT: 62px
}
#cmap3 {
	DISPLAY: block; Z-INDEX: 1003; RIGHT: 35px; WIDTH: 62px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 62px
}
#cmap4 {
	DISPLAY: block; Z-INDEX: 1004; LEFT: 35px; WIDTH: 62px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 62px
}
#cmap5 {
	DISPLAY: block; Z-INDEX: 1005; LEFT: 0px; WIDTH: 62px; POSITION: absolute; TOP: 70px; HEIGHT: 62px
}
.clients {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; WIDTH: 590px; PADDING-TOP: 0px
}
.clients DD {
	FLOAT: left; MARGIN: 0px
}
.clients H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px -5px; PADDING-TOP: 0px
}
.clients H6 SPAN {
	COLOR: #7b7b7b
}
.clients .image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 169px; PADDING-TOP: 0px
}
.clients .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 420px; PADDING-TOP: 0px
}
.clients .text DIV {
	PADDING-LEFT: 20px
}
.case-study {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 15px; WIDTH: 650px; PADDING-TOP: 0px
}
.case-study DD {
	FLOAT: left; MARGIN: 0px
}
.case-study .image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 270px; PADDING-TOP: 0px
}
.case-study .image IMG {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid
}
.case-study .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 350px; PADDING-TOP: 0px
}
.case-study .text DIV {
	PADDING-LEFT: 20px
}
.case-study .text H4 {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.case-study .text H4 SPAN {
	COLOR: #7b7b7b
}
.document {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 15px; WIDTH: 650px; PADDING-TOP: 0px
}
.document DD {
	FLOAT: left; MARGIN: 0px
}
.document .image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 40px; PADDING-TOP: 0px
}
.document .image IMG {
	MARGIN-TOP: 10px; FLOAT: left
}
.document .text {
	FLOAT: left; WIDTH: 570px
}
.document .text DIV {
	PADDING-LEFT: 10px
}
.document .text H4 {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.service {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 15px; WIDTH: 650px; PADDING-TOP: 0px
}
.service DD {
	FLOAT: left; MARGIN: 0px
}
.service .image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 70px; PADDING-TOP: 0px
}
.service .image IMG {
	MARGIN-TOP: 10px; FLOAT: left
}
.service .text {
	FLOAT: left; WIDTH: 540px
}
.service .text DIV {
	PADDING-LEFT: 10px
}
.service .text H4 {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#blob_login .content DIV {
	CLEAR: both
}
#blob_login .content FORM {
	WIDTH: 100%
}
#blob_login .content INPUT.btn-submit {
	MARGIN-LEFT: 93px
}
#blob_login .content INPUT.fld-text {
	FLOAT: right; WIDTH: 145px
}
#blob_login .content LABEL {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 90px; LINE-HEIGHT: 150%
}
#blob_login .content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px
}
* HTML #blob_sitemap .tip_block .top {
	LEFT: 125px
}
* HTML #blob_sitemap .tip_block .bottom {
	LEFT: 125px
}
#blob_sitemap .tip_block #q {
	WIDTH: 200px! important
}
#blob_sitemap {
	LEFT: 100px
}
#blob_sitemap DL {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN: 0px; WIDTH: 455px; FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif; HEIGHT: 100%
}
#blob_sitemap DT {
	MARGIN: 0px
}
#blob_sitemap DD {
	FLOAT: left; MARGIN: 0px; WIDTH: 172px
}
#blob_sitemap DD DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#blob_sitemap DD.last {
	WIDTH: 110px
}
#blob_sitemap DD.last DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#blob_sitemap DD UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#blob_sitemap DD UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; BACKGROUND: url(../img/bg_mk_map.gif) no-repeat left top; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 0px
}
#blob_sitemap DD UL LI A {
	MARGIN: 0px
}
#contact_form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.message {
	
}
.message_dynamic {
	DISPLAY: none
}
.message_dynamic .message_item {
	DISPLAY: none
}
.message_error {
	COLOR: red
}
.message_success {
	COLOR: green
}
.message_item {
	
}
.clients_table {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.clients_table DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 32%; PADDING-TOP: 0px
}
.clients_table DD .block {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.clients_table DD .block A {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Tahoma; TEXT-DECORATION: none
}
.clients_table DD .block .informer_content A {
	PADDING-LEFT: 0px
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	TEXT-ALIGN: center
}
#main {
	TEXT-ALIGN: left
}
#left-bg {
	WIDTH: 50%; POSITION: absolute; HEIGHT: 100%
}
#right-bg {
	WIDTH: 50%; POSITION: absolute; HEIGHT: 100%
}
#left-bg2 {
	WIDTH: 50%; POSITION: absolute; HEIGHT: 100%
}
#right-bg2 {
	WIDTH: 50%; POSITION: absolute; HEIGHT: 100%
}
#left-bg {
	BACKGROUND: url(img/hmhm.gif) repeat-x 0px 0px; LEFT: 0px
}
#right-bg {
	RIGHT: 0px; BACKGROUND: url(img/hmhm2.gif) repeat-x 0px 0px
}
#out {
	BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 945px; COLOR: #333; POSITION: relative; TEXT-ALIGN: left
}
#out2 {
	BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 945px; COLOR: #333; POSITION: relative; TEXT-ALIGN: left
}
.doblock:unknown {
	CLEAR: both; DISPLAY: block; content: ''
}
.bgwrap1 {
	BACKGROUND: url(../img/bg_header.gif) repeat-x 0px 0px
}
#header {
	WIDTH: 945px
}
#main {
	WIDTH: 945px
}
#body_container1 .bc1_wrapper {
	WIDTH: 945px
}
#header {
	BACKGROUND: url(../img/bg_header.gif) repeat-x 0px 0px; MARGIN: 0px auto; HEIGHT: 110px; TEXT-ALIGN: left
}
#header FORM {
	MARGIN-TOP: 15px
}
#header .middle_cl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 635px; PADDING-TOP: 0px
}
#header .middle_cl .logo {
	PADDING-LEFT: 0px
}
#header .right_cl {
	BACKGROUND: url(../img/bg_top_nav.gif) repeat-x left top; FLOAT: left; WIDTH: 310px
}
#header #srch_input {
	BORDER-RIGHT: #e4e8d0 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e4e8d0 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 3px; BORDER-LEFT: #e4e8d0 1px solid; WIDTH: 235px; PADDING-TOP: 3px; BORDER-BOTTOM: #e4e8d0 1px solid; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: #fff
}
#header #srch_submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../img/bg_button3.gif) #81d300 no-repeat left top; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 60px; COLOR: white; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: 'Trebuchet MS'; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; BORDER-BOTTOM-STYLE: none
}
#body_container1 .bc1_wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#informers_container {
	TEXT-ALIGN: left
}
#informers_container .banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 305px; PADDING-TOP: 0px; HEIGHT: 127px
}
.lbanner {
	MARGIN-LEFT: 16px
}
#informers_container {
	OVERFLOW: hidden; WIDTH: 635px
}
#body_container1 .left_cl {
	OVERFLOW: hidden; WIDTH: 635px
}
#body_container2 .left_cl {
	OVERFLOW: hidden; WIDTH: 635px
}
#body_container3 .left_cl {
	OVERFLOW: hidden; WIDTH: 635px
}
#body_container4 .left_cl {
	OVERFLOW: hidden; WIDTH: 635px
}
#mm_container {
	OVERFLOW: hidden; WIDTH: 635px
}
#informers_container {
	OVERFLOW: hidden; WIDTH: 635px
}
.white_line .right_cl {
	WIDTH: 310px
}
#body_container1 .right_cl {
	WIDTH: 310px
}
#body_container2 .right_cl {
	WIDTH: 310px
}
#body_container4 .right_cl {
	WIDTH: 310px
}
#body_container3 .right_cl {
	WIDTH: 310px
}
.about .content {
	WIDTH: 310px
}
.about .hd {
	WIDTH: 310px
}
.about .more {
	WIDTH: 310px
}
.nav {
	WIDTH: 310px
}
.nav .hd {
	WIDTH: 310px
}
.nav .content {
	WIDTH: 310px
}
.about {
	WIDTH: 310px
}
#sm_container2 {
	WIDTH: 310px
}
#sm_container2 .in_bottom {
	BACKGROUND: url(../img/bg_sm_in_bottom2.gif) no-repeat left bottom
}
#sm_container2 .padding {
	BACKGROUND: url(../img/bg_sm_bottom2.gif) no-repeat left bottom
}
#sm_container2 .lines {
	BACKGROUND: url(../img/bg_sm_in_main2.gif) repeat-y left bottom
}
#sm_container2 .in_top {
	BACKGROUND: url(../img/bg_sm_in_top2.gif) no-repeat left top
}
#sm_container2 .in_main {
	WIDTH: 301px
}
#sm_container2 .lines {
	WIDTH: 301px
}
.about .content {
	BACKGROUND: url(../img/bg_about2.gif) #a1c301 repeat-y 0px 0px
}
.about .hd {
	BACKGROUND: url(../img/bg_hd2.gif) #e0e9b4 no-repeat 0px 0px
}
.about .hd2 {
	BACKGROUND: url(../img/bg_hd3.gif) #e0e9b4 no-repeat 0px 0px; HEIGHT: 32px
}
.about .more {
	BACKGROUND: url(../img/bg_about_more2.gif) #a1c301 no-repeat 0px 0px
}
.about .more LI {
	MARGIN-LEFT: -8px
}
* HTML .about .more {
	BACKGROUND-POSITION: 1px 0px
}
#informers_container .padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 4px
}
#informers_container {
	HEIGHT: 137px
}
.banner_block DD.r {
	MARGIN-LEFT: 32px; WIDTH: 145px; HEIGHT: 64px
}
.banner_block DD.r DIV {
	HEIGHT: 65px
}
* HTML .banner_block DD.r {
	MARGIN-LEFT: 10px
}
.banner_block DL {
	WIDTH: 259px
}
.clear {
	CLEAR: both
}
UL.thumbs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 25px 0px 0px -8px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.thumbs LI {
	DISPLAY: block; FONT-SIZE: 1.2em; FLOAT: left; WIDTH: 163px; HEIGHT: 132px
}
UL.thumbs LI A {
	FONT-WEIGHT: 900; MARGIN-LEFT: 10px
}
UL.thumbs LI IMG {
	CLEAR: both; MARGIN-TOP: 5px; DISPLAY: block
}
UL.thumbs LI#t4 {
	WIDTH: 145px
}
DIV.mainP {
	PADDING-RIGHT: 20px; FONT-SIZE: 1em; TEXT-ALIGN: left
}
DIV.mainP H3 {
	FONT-WEIGHT: 100; FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0px
}
DIV.mainP P {
	PADDING-TOP: 0px
}
DIV.mainP .inf_more A {
	FONT-FAMILY: Arial
}
.typical_requests {
	FONT-SIZE: 1.2em; FONT-FAMILY: Verdana
}
.typical_requests A {
	FONT-SIZE: 1.2em; FONT-FAMILY: Verdana
}
.typical_requests A {
	FONT-SIZE: 1em; FONT-FAMILY: Arial
}
.typical_requests .cols {
	FLOAT: left; WIDTH: 199px
}
.typical_requests .inf_more {
	FLOAT: right
}
#qwe123 {
	MARGIN-BOTTOM: 15px
}
#qwe1232 {
	PADDING-RIGHT: 17px
}
#cv {
	BORDER-TOP: #d3d3d3 1px solid; MARGIN-TOP: 0px; PADDING-TOP: 10px
}
.informer_content {
	
}
.informer_content A {
	FONT-SIZE: 1em; LINE-HEIGHT: 1.3
}
#bl1 {
	MARGIN-TOP: -78px; Z-INDEX: 1; BACKGROUND: url(../img/hmm3.gif) repeat-x 0px 20px; LEFT: 0px; WIDTH: 50%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 78px
}
#bl3 {
	MARGIN-TOP: -78px; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(../img/hmm5.gif) repeat-x 0px 20px; WIDTH: 50%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 78px
}
#left-bg2 {
	BACKGROUND: url(img/hmhm.gif) repeat-x 0px 0px; LEFT: 0px
}
#right-bg2 {
	RIGHT: 0px; BACKGROUND: url(img/hmhm2.gif) repeat-x 0px 0px
}
#footer {
	MARGIN-TOP: -20px; MARGIN-LEFT: -2px; POSITION: relative
}
#out2 {
	BACKGROUND: url(../img/hmm4.gif) no-repeat 0px 0px; LEFT: -2px; HEIGHT: 66px
}
#left-bg2 {
	BACKGROUND: url(../img/hmm3.gif) repeat-x 0px 0px; LEFT: 0px; HEIGHT: 66px
}
#right-bg2 {
	RIGHT: 0px; BACKGROUND: url(../img/hmm5.gif) repeat-x 0px 0px; HEIGHT: 66px
}
#body_container2 .left_cl .content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
#out2left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 654px; COLOR: #7b7b7b; PADDING-TOP: 20px
}
#out2right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #7b7b7b; PADDING-TOP: 20px
}
.banner .informer_content A:hover DL DD H6 {
	
}
.thumbs .arr {
	BACKGROUND: url(../img/thumbs_arrow.gif) no-repeat 130px 45px
}
#informers_container2 {
	WIDTH: 305px; HEIGHT: 58px
}
.body_container2 {
	BACKGROUND: url(../img/bg_informers2.gif) repeat-x 0px 0px
}
.about .more2 {
	BORDER-LEFT: #83a900 1px solid; HEIGHT: 28px
}
.about .more2 LI {
	BACKGROUND-IMAGE: none
}
#body_container1 .right_cl2 {
	BACKGROUND-IMAGE: none! important
}
.about .more2 {
	BACKGROUND: url(../img/bg_about_more3.gif) #a1c301 no-repeat 0px 0px
}
.left-bg2 {
	BACKGROUND-IMAGE: url(../img/hmhm21.gif)! important
}
.right-bg2 {
	BACKGROUND-IMAGE: url(../img/hmhm22.gif)! important
}
.fla UL {
	FONT-WEIGHT: 900; FONT-SIZE: 1.1em; LIST-STYLE-IMAGE: none; MARGIN: 2px 0px 0px
}
.fla UL LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/flabg1.gif) no-repeat 0px 7px
}
.fla UL LI.act {
	BACKGROUND: url(../img/flabg2.gif) no-repeat 0px 6px
}
.bee {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../img/bee.gif) repeat-y 0px 0px; PADDING-BOTTOM: 8px; MARGIN: 2px 5px; PADDING-TOP: 8px
}
.bee H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 12px; FONT: 100 18px 'Trebuchet MS'; PADDING-TOP: 5px
}
.bee DIV {
	CLEAR: both; FONT-WEIGHT: 900; FONT-SIZE: 1.1em; LIST-STYLE-IMAGE: none; MARGIN: 0px
}
.bee DIV:unknown {
	CLEAR: both; DISPLAY: block; content: ''
}
.bee DIV IMG {
	DISPLAY: block; FLOAT: left
}
.bee DIV A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none! important
}
.bee DIV A:hover SPAN {
	TEXT-DECORATION: none! important
}
.bee DIV SPAN {
	MARGIN-TOP: 7px; FLOAT: left; MARGIN-LEFT: 3px; CURSOR: pointer; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
.bee DIV SPAN SPAN {
	DISPLAY: inline; FLOAT: none; COLOR: #5b5b5b; TEXT-DECORATION: none! important
}
.bee DIV A:hover {
	TEXT-DECORATION: none
}
.bee DIV A SPAN SPAN {
	TEXT-DECORATION: none
}
.bee DIV A:visited SPAN SPAN {
	TEXT-DECORATION: none
}
.content H3 {
	FONT-WEIGHT: 100
}
.banner_block DD.l DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 31px; MARGIN: 0px; PADDING-TOP: 0px
}
.banner_block .left_b .right_b .informer_content {
	PADDING-LEFT: 17px! important
}
.informer_content P A IMG {
	BORDER-RIGHT: #c8c8c8 1px solid; BORDER-TOP: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; BORDER-BOTTOM: #c8c8c8 1px solid
}
.mainB {
	Z-INDEX: 500; MARGIN-BOTTOM: -190px; WIDTH: 250px; POSITION: relative; HEIGHT: 153px
}
.mainB DIV {
	DISPLAY: none; Z-INDEX: 1000; WIDTH: 250px; POSITION: absolute; TOP: -130px; HEIGHT: 163px
}
.mainB DIV P {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; COLOR: #797977; PADDING-TOP: 40px; FONT-FAMILY: Verdana; HEIGHT: 150px
}
.mainB DIV P A {
	COLOR: #797977; TEXT-DECORATION: none
}
.mainB DIV P A:hover {
	COLOR: #797977; TEXT-DECORATION: underline
}
#mb1 {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bubb1.png',sizingMethod='crop'); LEFT: 0px
}
#mb2 {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bubb1.png',sizingMethod='crop'); LEFT: 160px
}
#mb3 {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bubb1.png',sizingMethod='crop'); LEFT: 330px
}
#mb4 {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bubb2.png',sizingMethod='crop'); LEFT: 380px
}
