// -- Branding
// EPAM COLOR PALETTE:
// PRIMARY COLORS:
  $SHARP_BLUE: #39C2D7;
  $LIME_GREEN: #A3C644;
  $GRAPHITE: #464547;
  $WHITE: #FFFFFF;

//SECONDARY COLORS:
  $RASPBERRY: #B22746;
  $PLUM: #8E244D;
  $DARK_BLUE: #1A9CB0;
  $DARK_GREEN: #7F993A;

  $MEDIUM_GRAY: #666666;
  $GRAY: #999999;
  $LIGHT_GRAY: #CCCCCC;

//EPAM FONTS:
@import 'epam-fonts__oswald';
  $TrebuchetMS: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",'PT Sans',sans-serif;
  $Oswald: Oswald, $TrebuchetMS; // 300,400,600+italic

body {
  font-family: $TrebuchetMS;
}

.badge {
  a {
    background: #8E244D;
  }
}

.caption {
  color: #464547;
  text-shadow: 0 1px 10px #fff;

  a {
    color: #1A9CB0;
    text-shadow: 0 -1px 1px #464547;

    &:hover {
      color: #39C2D7;
    }
  }
}

.caption {
  h1 {
    font: 600 50px/1 'Oswald', 'PT Sans Narrow', sans-serif;
    color: #39C2D7;
    text-shadow: 0 1px 1px #464547;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 25px;

    a {
      &.name {
        color: #A3C644;
        text-shadow: none;
      }
      &.work {
        color: #7F993A;
        text-shadow: none;
      }
    }
  }

  a.hashtag {
    color: #1A9CB0;
  }
}

.slide {
  h2 {
    font: 600 50px/1 'Oswald',sans-serif;
  }

  &.-dark {
    background: #464547;

    h2 {
      color: #FFF;
    }
  }
}
// End of Branding

// Fixes
p.note.-cover {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 12px;
  line-height: normal;
  color: #333;
}
