// -- Branding
// EPAM COLOR PALETTE:
// PRIMARY COLORS:
  $SHARP_BLUE: #39C2D7;
  $LIME_GREEN: #A3C644;
  $GRAPHITE: #464547;
  $WHITE: #FFFFFF;

//SECONDARY COLORS:
  $RASPBERRY: #B22746;
  $PLUM: #8E244D;
  $DARK_BLUE: #1A9CB0;
  $DARK_GREEN: #7F993A;

  $MEDIUM_GRAY: #666666;
  $GRAY: #999999;
  $LIGHT_GRAY: #CCCCCC;

  $BG: $GRAPHITE;

//EPAM FONTS:
@import 'epam-fonts__oswald';
  $TrebuchetMS: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",'PT Sans',sans-serif;
  $Oswald: Oswald, $TrebuchetMS; // 300,400,600+italic

body {
  font-family: $TrebuchetMS;

  &.list {
    background-color: $BG;
    background-image: none;
  }
}

.full {
  background-color: $BG;
}

.badge {
  a {
    background: $PLUM;

    &:hover {
      background: $RASPBERRY;
    }
  }
}

.list .slide:after {
  color: $MEDIUM_GRAY;
  text-shadow: 0 1px 1px #000;
}

.slide:after {
  background-image: url('../img/ribbon--epam.svg');
}

.caption {
  color: $MEDIUM_GRAY;
  text-shadow: 0 1px 1px #000;

  a {
    color: $DARK_BLUE;
    text-shadow: 0 -1px 1px $GRAPHITE;

    &:hover {
      color: $SHARP_BLUE;
    }
  }
}

.caption {
  h1 {
    font: 600 50px/1 'Oswald', 'PT Sans Narrow', sans-serif;
    color: $SHARP_BLUE;
    text-shadow: 0 1px 1px $GRAPHITE;
    padding-bottom: 0;
  }

  h3 {

    a {
      &.name {
        color: $LIME_GREEN;
        text-shadow: none;
      }
      &.work {
        color: $WHITE;
        text-shadow: none;
      }
    }
  }

  a.hashtag {
    color: $GRAY;
  }
}

.slide {
  h2 {
    font: 600 50px/1.2 'Oswald',sans-serif;
  }

  &.shout {
    h2 {
      line-height: 1.5;
    }
  }
}

.shout {
  &.dark {
    background: $GRAPHITE;

    h2 {
      color: $WHITE;
    }
  }
}
// End of Branding

// Fixes
#Cover {
  h2 {
    margin: 30px 0 0;
    color: $WHITE;
    text-align: center;
    font-size: 70px;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  .subheader {
    position: absolute;
    bottom: 50px;
    right: 180px;
  }
  pre {
    color: #FFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    white-space: pre;
  }
  p {
    margin: 10px 0 0;
    text-align: center;
    color: #FFF;
    font-style: italic;
    font-size: 30px;
    line-height: 1.5;

    a {
      color: $WHITE;
    }
  }
}

.slide {
  &.-compact {
    > div {
      padding-top: 20px;
      height: 620px;
    }
  }
  &.-shadow {
    pre {
      code {
        &:before {
          text-shadow: none;
        }
      }
    }

    &.-bright {
      color: $RASPBERRY;
      text-shadow: 2px 2px 0px $WHITE, 0 0 30px rgba(0, 0, 0, 1);

      h2 {
        display: table;
        color: $WHITE;
        background: $DARK_BLUE;
        padding: 0.2em;
        text-shadow: none;
      }

      kbd,
      code,
      samp {
        color: inherit;
      }
    }
    &.-dark {
      text-shadow: 1px 1px 0px $WHITE;
      color: $SHARP_BLUE;

      h2 {
        color: $LIME_GREEN;
        text-shadow: 2px 2px 0px $WHITE, 0 0 40px rgba(0, 0, 0, 0.5);
      }
      kbd,
      code,
      samp {
        color: inherit;
      }
    }
  }

  h2 {
    padding-right: 50px;
  }
  pre {
    margin-bottom: 20px;

    code {
      line-height: 1.7;

      &.wrap {
        white-space: normal;
      }
    }
  }
  p {
    margin-bottom: 20px;

    &.note {
      line-height: 1.5;
    }
    .slide pre + &,
    .slide code + & {
      margin-top: 20px;
    }
    & + .slide pre,
    & + .slide code {
      margin-top: -10px;
    }
  }
  blockquote {
    margin-bottom: 50px;
  }
  ol,
  ul {
    margin-left: 20px;
    line-height: 1.7;
  }

  .custom-numbered-list li:before {
    content: attr(data-num)'.\00A0';
  }
}

.shout {
  p.note {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}

img {
  max-width: 100%;
}

mark.important {
  background: #C00;
  color: $WHITE;
}

.wbr {white-space: nowrap;}
